services:
  ovpn-lan:
    container_name: ovpn-lan
    restart: unless-stopped
    image: ovpn-lan:local
    build:
        context: .
        no_cache: false
        pull: true
        dockerfile_inline: |
            FROM alpine:latest
            WORKDIR /root
            RUN apk add --no-cache bash openvpn easy-rsa
            COPY ./init.sh /
            COPY ./generate.sh /root
            ENTRYPOINT ["/init.sh"]
            EXPOSE 1194/udp
    ports:
      - "$SERVER_PORT:1194/udp"
    volumes:
      - ./openvpn:/etc/openvpn/
      - ./easyrsa:/root/easyrsa
    privileged: false
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
    environment:
      - SERVER_HOST=$SERVER_HOST
      - SERVER_PORT=$SERVER_PORT
